// place your custom styles here
.margin-right-home{
    margin-right: 250px;
}
.color-var{
    color: #de485a;
}
.color-method{
    color: #5298e3;
}
.color-clazz{
    color: #d1a44a;
}
.color-lambda{
    color: #c27f3c;
}
.color-const{
    color: #86c569;
}
.color-key{
    color: #a347b7;
}
.vp-hero-info{
    justify-content: center;
}
.vp-hero-info .vp-hero-image{

}
// .vp-hero-info-wrapper {
//     min-height: 600px;
// }
// .vp-highlight-info-wrapper{
//     justify-content:flex-start
// }
.vp-hero-infos{
    min-width: 1000px;
}
#main-description{
    max-width: none;
    height: 170px;
}


.mermaid-content{
    // .row-rect-odd{
    //     .nodeLabel{
    //         p{
    //             color: #000;
    //         }
    //     }
    // }
    .nodeLabel{
        p{
            color: #000;
        }
    }
    //  .row-rect-odd{
    //     path{
    
    //         fill: #fff;
    //         [data-theme="dark"] & {
    //             fill: #88edc1;
    //         }
    //     }
    // }
    
    // path{

    //     fill: #fff;
    //     [data-theme="dark"] & {
    //         fill: #000;
    //     }
    // }
    // .divider{
    //     path{
    //         fill: #389d70;
    //     }
    // }
}